@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap');

/*

    use font families

        font-family: 'Bebas Neue', cursive;
        font-family: 'Fjalla One', sans-serif;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-family: 'Roboto Flex', sans-serif;
        font-family: 'Rubik', sans-serif;
        font-family: 'Teko', sans-serif;

*/

.carousel-item img {
    width: 100%;
    height: 90vh;
}

.login-btn-nav {
    width: 100px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.login-btn-nav:hover {
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.678), 0 3px 10px 0 rgba(255, 255, 255, 0.596);
}

.gallery {
    background-color: #ffffff5e;
    height: 100%;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

.gallery .title {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.card-img-top {
    height: 100%;
}

.card-deck {
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-content {
    background: #e7e7e75e;
    height: 100%;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

.home-content .title {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.feature-content {
    padding-top: 25px;
    padding-left: 110px;
    padding-right: 35px;
    padding-bottom: 25px;
}

.box-feature-home {
    background-color: rgba(179, 179, 179, 0.301);
    width: 600px;
    height: 400px;
    padding-left: 50px;
    border: none;
    border-radius: 5px;
}

.box-title-home {
    padding-top: 25px;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: lighter;
}

.box-body-home {
    padding-top: 15px;
}

.top-images {
    padding-top: 45px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.top-images-title {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 15px;
}

.top-images-body {
    padding-top: 5px;
    padding-left: 15px;
    padding-left: 15px;
    padding-left: 5px;
}

.top-images-img1 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/car1.jpg);
    transition: 0.3s;
}

.top-images-img1:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/car1.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img2 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/city1.jpg);
    transition: 0.3s;
}

.top-images-img2:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/city1.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img3 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/car2.jpg);
    transition: 0.3s;
}

.top-images-img3:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/car2.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img4 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/city2.jpg);
    transition: 0.3s;
}

.top-images-img4:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/city2.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img5 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/car3.jpg);
    transition: 0.3s;
}

.top-images-img5:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/car3.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img6 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/city3.jpg);
    transition: 0.3s;
}

.top-images-img6:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/city3.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img7 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/car4.jpg);
    transition: 0.3s;
}

.top-images-img7:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/car4.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img8 {
    margin: 20px;
    background-color: rgba(179, 179, 179, 0.301);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    background-image: url(../images/city4.jpg);
    transition: 0.3s;
}

.top-images-img8:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/city4.jpg);
    width: 350px;
    height: 300px;
    border: none;
    background-size: cover;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 60px;
    padding-left: 100px;
    cursor: pointer;
}

.top-images-img-text {
    color: white;
    padding-left: 15px;
    padding-top: 8px;
}

.top-images-img-icon {
    color: #ffffff;
}

@media only screen and (max-width: 1400px) {
    .home-content {
        background: #e7e7e75e;
        height: 100%;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .feature-content {
        padding-top: 25px;
        padding-left: 80px;
        padding-bottom: 25px;
    }
    .box-feature-home {
        background-color: rgba(179, 179, 179, 0.301);
        width: 500px;
        height: 400px;
        padding-left: 50px;
        border: none;
        border-radius: 5px;
    }
}
